body {
    margin: 0;
    padding: 0;
    background-color: rgb(39, 151, 215);
}

header {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    background: linear-gradient(to right, #00BFFF, #1E90FF, #0000FF);
    border: 3px solid black;
}

.logoCpp {
    width: 200px;
    height: 150px;
    margin: 2% 40%;
}

article {
    margin: 0 40px;
    text-align: justify;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.ImgArduino {
    width: 300px;
    height: 150px;
    margin: 2% 5%;
}

.espImg {
    height: 150px;
    width: 220px;
    margin-bottom: 20px;
    margin-left: 250px;
}

.Img {
    width: 400px;
    height: 400px;
}

.gitAI {
    height: 100px;
    font-size: large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 14, 74);
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4vh;
}


pre {
    background-color: #f4f4f4;
    border: 2px solid black;
    
    
}
code {
    font-family: Consolas, 'Courier New', monospace;
    color: #d63384;
}

.video {
    margin-left: 40px;
}